@import './vendor/normalize.scss';
@import './vendor/fonts.scss';
@import './vendor/vars.scss';
@import './vendor/keyframes.scss';
@import './vendor/breakpoints.scss';

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: $bg-page;
}

.overflow-hidden {
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.actions-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 0 0 auto;
  padding: 8px;

  &__button {
    min-width: 64px;
    line-height: 1.75;
    text-transform: uppercase;
    color: $primary;
    padding: 6px 8px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    &:nth-child(2) {
      margin-left: 8px;
    }

    &:hover {
      background-color: $bg-button-actions-hover;
    }

    &:active {
      background-color: $bg-button-actions-active;
    }
  }
}

.common-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-container,
.error-container {
  @extend .common-container;
}

.common-button {
  align-items: center;
  border: 0;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 0.875rem;
  justify-content: center;
  letter-spacing: 0.02857em;
  line-height: 1.25;
  outline: 0;
  user-select: none;
  vertical-align: middle;
}

.icon-button,
.tab-button,
.form-button-calculate,
.actions-group__button {
  @extend .common-button;
}

.icon-button {
  position: relative;
  box-sizing: border-box;
  background-color: transparent;
  padding: 8px;
  border-radius: 50%;
  transition: background-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.icon-button:hover {
  background-color: $bg-button-actions-hover;
}

.icon-button:active {
  background-color: $bg-button-actions-active;
}

.icon {
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  font-size: 1.5rem;
  user-select: none;
  fill: $font-main-color;
  outline: 0;
}

.form-button-clear .icon {
  fill: $bg-icon-button;
}

.header,
.tabs {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  min-height: 48px;
  background-color: $primary;
}

.header {
  flex-direction: column;
}

.header__menu,
.tabs-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px 0;
}

.header__title {
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 1.334;
  color: $font-main-color;

  @media (max-width: $mobile-screen) {
    font-size: 20px;
    line-height: 1.1;
    letter-spacing: 0.1px;
  }
}

/* === Portion tabs === */

.tabs-list {
  padding: 0;
  align-items: center;
  list-style: none;
  overflow-x: auto;
}

.tabs-list__item {

  .tab-button {
    background-color: transparent;
    text-decoration: none;
    color: $font-main-color;
    max-width: 360px;
    min-width: 60px;
    min-height: 42px;
    flex-shrink: 0;
    margin: 0 26px;
    padding: 0;
    opacity: 0.6;
    text-transform: none;
    position: relative;
    transition: opacity .2s linear;
  }

  .tab-button:hover,
  .tab-button:active {
    opacity: 1;
  }

  .tab-button::after {
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width .2s linear;
    background-color: $font-main-color;
  }

  .selected {
    opacity: 1;

    &::after {
      width: 50%;
    }
  }
}

.tab-input {
  min-width: 9px;
  color: $font-main-color;
  letter-spacing: 0.02857em;
  padding: 0;
  margin-right: -4px;
  outline: none;
  border: none;
  background-color: transparent;
}

.tabs .button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 13px;
}

/* === / Portion tabs === */

.main {
  flex: 1;
  padding: 48px 32px;
  position: relative;
}

.form {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1125px;
  padding: 40px 24px;
  margin: auto;
  overflow: hidden;
  background-color: $bg-form;
  border-radius: 8px;
  box-shadow: $box-shadow-elevation-1;

  @media (max-width:$large-screen) {
    gap: 20px 0;
    padding-bottom: 15px;
  }

  @media (max-width:$laptop-screen) {
    flex-direction: column;
  }
}

.form-group {
  position: relative;

  .text-help {
    font-size: 14px;
    position: absolute;
    left: 2px;
    bottom: -28px;
    color: $error-color;

    @media (max-width:$extra-large-screen) {
      font-size: 12px;
      bottom: -20px;
    }
  }
}

.form-fields-group,
.select-group {
  display: flex;
  flex-direction: column;
  min-width: 0px;
  vertical-align: top;

  &:focus-within label {
    color: $primary;
  }

  &:focus-within input,
  &:focus-within select {
    border-color: transparent;
    outline: 2px solid $primary;
  }
}

.form-fields-group {
  min-width: 250px;

  @media (max-width:$large-screen) {
    width: 100%;
  }
}

.select-group {

  @media (max-width:$large-screen) {
    width: 100%;
  }
}

.has-danger {
  label {
    color: $error-color;
  }

  input,
  select {
    border-color: transparent;
    outline: 2px solid $error-color;
  }

  &:focus-within label {
    color: $error-color;
  }

  &:focus-within input,
  &:focus-within select {
    border-color: transparent;
    outline: 2px solid $error-color;
  }
}

.form-fields-group-label {
  color: $font-input-label-color;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.4375em;
  letter-spacing: 0.00938em;
  margin-right: 5px;
}

.form-fields-group__wrapper {
  display: inline-flex;
  align-items: center;
  position: relative;
  border-radius: 4px;
}

.form-fields-input {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4375em;
  letter-spacing: 0.00938em;
  color: $font-text-color;
  border: 1px solid $border-color;
  border-radius: 4px;
  outline: transparent;
  margin: 0px;
  display: block;
  min-width: 0px;
  width: 100%;
  padding: 10px 30px 10px 10px;
}

.form-fields-input-adornment {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  color: $font-text-color;
  position: absolute;
  right: 12px;
}

.form-select {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4375em;
  letter-spacing: 0.00938em;
  border: 1px solid $border-color;
  border-radius: 4px;
  outline: transparent;
  margin: 0px;
  display: block;
  min-width: 0px;
  width: 100%;
  padding: 11px;
  color: $font-text-color;
}

.form-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 142px;
  padding-top: 20px;

  @media (max-width: $large-screen) {
    flex-direction: column;
    margin: 0 auto;
  }
}

.form-button-calculate {
  line-height: 1.75;
  min-width: 64px;
  height: 46px;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: $font-main-color;
  background-color: $bg-button;

  &:hover {
    background-color: $bg-button-hover;
    box-shadow: $box-shadow-elevation-1;
  }

  &:active {
    box-shadow: none;
  }

  @media (max-width: $large-screen) {
    width: 100%;
    margin-bottom: 10px;
  }
}

.portion-calculate-result {
  max-width: 1125px;
  margin: 40px auto 60px;
  background-color: $bg-form;
  border-radius: 8px;
  box-shadow: $box-shadow-elevation-1;
  overflow-x: auto;
}

.portion-result-table {
  display: table;
  width: 100%;
  min-width: 700px;
  border-collapse: collapse;
  border-spacing: 0px;

  @media (max-width:$large-screen) {
    min-width: 388px;
  }

  @media (max-width:$laptop-screen) {
    min-width: 302px;
  }

  th {
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 1rem;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    font-weight: 500;
    display: table-cell;
    vertical-align: inherit;
    border-bottom: 1px solid $border-color;
    text-align: center;
    padding: 20px 18px;
    color: $font-text-color;

    @media (max-width:$large-screen) {
      font-size: 0.9rem;
      min-width: 85px;
      padding: 20px 5px;
    }

    @media (max-width:$laptop-screen) {
      font-size: 0.75rem;
    }
  }

  td {
    font-size: 1rem;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    display: table-cell;
    vertical-align: inherit;
    border-bottom: 1px solid $border-color;
    text-align: center;
    padding: 18px;
    color: $font-text-color;

    @media (max-width:$large-screen) {
      font-size: 0.9rem;
      padding: 18px 5px;
    }

    @media (max-width:$laptop-screen) {
      font-size: 0.8rem;
    }
  }

  .font-medium {
    font-family: 'Roboto-Medium', sans-serif;
  }

  .align-left {
    text-align: left;
  }

  .border-none {
    border: none;
  }
}

/* === Custom context menu === */

.custom-menu {
  position: fixed;
  top: 79px;
  left: 179px;
  margin-top: 5px;
  background-color: $bg-form;
  color: $font-text-color;
  border-radius: 4px;
  box-shadow: $box-shadow-elevation-1;

  z-index: 1000;

  &__list {
    list-style: none;
  }

  &__item {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    padding: 5px 15px;
    transition: background-color .2s linear;
    cursor: pointer;

    &:hover {
      background-color: $bg-button-actions-hover;
    }
  }

  &__overlay {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 998;
  }
}

/* === / Custom context menu === */

/* ===  Drawer === */

.drawer {
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1200;
  visibility: hidden;

  box-shadow: $box-shadow-elevation-3;
  background-color: $bg-drawer;

  transform: translateX(250px);
  transition: transform .2s linear, visibility .2s linear;

  .version,
  .utils {
    width: 100%;
    display: flex;

    border-bottom: 1px solid darken($border-color, 50%);
  }

  .version {
    padding: 15px 20px;

    &__text {
      margin-left: 10px;
      color: $font-main-color;
    }
  }

  .utils {
    flex-direction: column;
    padding: 15px 0;

    &__title {
      font-weight: 400;
      font-size: 1.1rem;
      justify-content: center;
      color: $font-main-color;
      padding: 0 20px;
      margin-bottom: 10px;
    }

    &-list {
      list-style: none;

      &__item {
        display: flex;
        align-items: center;
        padding: 5px 30px;
        cursor: pointer;
        transition: background-color .2s linear;

        &:hover {
          color: $primary;
          background-color: $bg-button-actions-hover;
        }

        &:active {
          background-color: $bg-button-actions-active;
        }
      }

      .selected {
        background-color: $bg-button-actions-active;
      }

      &__text {
        color: $font-main-color;
        margin-left: 10px;
      }
    }
  }
}

.drawer-open {
  visibility: visible;
  transform: translateX(0);
}

/* === /Drawer === */

/* ===  Modal === */

.backdrop {
  position: fixed;
  inset: 0;
  background-color: $bg-backdrop;
  visibility: hidden;
  opacity: 0;
  z-index: 102;
  transition: visibility .2s linear, opacity .2s linear;
}

.backdrop-show {
  visibility: visible;
  opacity: 1;
}

.modal {
  min-width: 320px;
  max-width: 600px;
  max-height: calc(100% - 64px);
  display: flex;
  flex-direction: column;
  margin: 32px;
  border-radius: 4px;
  box-shadow: $box-shadow-elevation-3;
  overflow-y: auto;
  background-color: $bg-modal;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-56%, -60%);
  transition: visibility .2s linear, opacity .2s linear, transform .2s linear;
  z-index: 110;

  @media (max-width: $mobile-screen) {
    transform: translate(-60%, -60%);
  }

  .actions-group {
    @media (max-width: $laptop-screen) {
      justify-content: center;
    }
  }

  &__title {
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.6;
    padding: 16px 24px;
    margin: 0;
    flex: 0 0 auto;

    @media (max-width: $laptop-screen) {
      font-size: 1.1rem;
      text-align: center;
    }

  }

  &__text {
    flex: 1 1 auto;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: $font-text-color ;
    padding: 0 26px 20px;

    @media (max-width: $laptop-screen) {
      font-size: 0.9rem;
      text-align: center;
    }
  }

  &-open {
    visibility: visible;
    opacity: 1;
    transform: translate(-56%, -70%);

    @media (max-width: $mobile-screen) {
      transform: translate(-60%, -70%);
    }
  }
}

/* === / Modal === */


/* ===  Comments === */

.comments {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 600px;
  position: absolute;
  right: 100px;
  bottom: 30px;
  background-color: $bg-form;
  border-radius: 4px;
  box-shadow: $box-shadow-elevation-2;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transform: translateY(20px);
  transition: visibility .2s linear, opacity .2s linear, transform .2s linear;

  @media (max-width: $laptop-screen) {
    width: 306px;
    height: 500px;
    right: 27px;
    bottom: 100px;
  }


  &-title {
    font-size: 1.25rem;
    font-weight: 400;
    flex: 0 0 auto;
    padding: 5px 0;
    text-align: center;
    border-bottom: 1px solid $border-color;
  }

  &-content {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 16px 24px;
    border-bottom: 1px solid $border-color;
  }

  &__textarea {
    max-width: 500px;
    min-height: 112px;
    resize: none;
    padding: 10px 24px;
    border: none;
    outline: none;
    border-bottom: 1px solid $border-color;
  }

  .actions-group__button {
    background-color: $font-main-color;

    &:hover {
      background-color: $bg-button-actions-hover;
    }

    &:active {
      background-color: $bg-button-actions-active;
    }
  }

  &-button {
    width: 56px;
    height: 56px;
    position: absolute;
    right: 30px;
    bottom: 30px;
    transition: background-color .2s linear, box-shadow .2s linear;
    box-shadow: $box-shadow-elevation-1;
    background-color: $bg-button;
    z-index: 101;

    &:hover {
      background-color: $bg-button-hover;
    }

    &:active {
      box-shadow: none;
    }
  }

  .info {
    text-align: center;
  }

  .comment {
    display: flex;
    flex-direction: column;

    &__time {
      display: inline-block;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      color: $font-text-color;
      margin-bottom: 10px;

      &::before,
      &::after {
        position: absolute;
        top: 50%;
        width: 33%;
        height: 1px;
        background-color: $border-color;
        content: '';

        @media (max-width: $laptop-screen) {
          width: 20%;
        }
      }

      &::before {
        left: 0;
      }

      &::after {
        right: 0;
      }
    }
  }

  &__overlay {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 100;
  }
}

.open-comments {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

/* === / Comments === */

/* === Loader === */

.loader {
  width: 40px;
  height: 40px;
  text-align: center;

  .circle-wrapper {
    display: inline-block;
    width: 40px;
    height: 40px;
    animation: 1.4s linear 0s infinite normal none running rotate;

    .circle {
      stroke: $primary;
      stroke-dasharray: 80px, 200px;
      stroke-dashoffset: 0;
      animation: 1.4s ease-in-out 0s infinite normal none running circle;
    }
  }
}

/* === / Loader === */

/* ===  ErrorMessage === */

.error {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  color: $error-color;
  animation: blink 1s infinite alternate;

  &__icon {
    width: 45px;
    height: 45px;
    fill: $error-color;
  }

  &__text {
    font-size: 1.2rem;
    text-align: center;
  }
}

/* === / ErrorMessage === */

/* === Snackbar === */

.snackbar-container {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: fixed;
  left: 20px;
  bottom: 14px;
  z-index: 1400;
  pointer-events: none;
  max-width: 800px;

  .snackbar {
    display: flex;
    align-items: center;
    color: $font-main-color;
    margin: 6px 0;
    padding: 12px 20px;
    border-radius: 4px;
    box-shadow: $box-shadow-elevation-2;
    animation: fadeIn 0.5s ease forwards, fadeOut 0.5s ease forwards 2.5s;

    &__icon {
      font-size: 20px;
      margin-inline-end: 8px;
      user-select: none;
      width: 20px;
      height: 20px;
      display: inline-block;
      fill: currentcolor;
      flex-shrink: 0;
    }

    &--success {
      background-color: $success-color;
    }

    &--error {
      background-color: $error-color;
    }
  }
}


/* === / Snackbar === */

.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}